.sidebar {
  flex: 0.2;
}

.sidebar.darkmode {
  background-color: rgb(65, 64, 64);
}

.sidebar.sidebar_clicked {
  flex: 0.02;
  display: flex;
  justify-content: center;
}
.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: black;
}
