.videos_recomended {
  flex: 0.8;
  /* background-color: #f9f9f9; */
  padding: 4px 20px;
  padding-bottom: 0;
  height: 100%;
}

.video_player {
  margin-bottom: 11vh;
}

.videos_recomended.darkmode {
  background-color: rgb(48, 48, 48);
  height: 100%;
}

.videos_recomended.darkmode h2 {
  color: white;
}

.videos_recomended.videos_clicked {
  flex: 0.98;
  height: 100%;
}

.videos_recomended h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommended_content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
