.video_card {
    margin-bottom: 40px;
    width: 270px;
}

.video_card.darkmode > .videocard_info > .videocard_text {
    color: white;
}

.videocard_thumbnail {
    height: 140px !important;
    width: 250px !important;
}

.videocard_info {
    display: flex;
}

.videocard_text {
    margin-left: 10px;
}

.videocard_text > h4 {
    font-size: 12px;
    margin-bottom: 5px;
}

.videocard_text > p {
    font-size: 14px;
    color: grey;
}

.videocard_avatar {
    height: 40px !important;
    width: 40px !important;
}
