.videos_recomended {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 4px 20px;
  padding-bottom: 0;
}

.video_player {
  margin-bottom: 40px;
}

.videos_recomended.darkmode {
  background-color: rgb(48, 48, 48);
}

.videos_recomended.darkmode > h2 {
  color: white;
}

.videos_recomended.videos_clicked {
  flex: 0.98;
}

.videos_recomended > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommended_content {
  display: flex;
  flex-wrap: wrap;
}
