.sidebarrow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebarrow.darkmode {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebarrow.darkmode > .sidebarrow_text {
    color: white;
}

.sidebarrow.darkmode > .sidebarrow_icon {
    color: darkgray;
}

.sidebarrow.darkmode.selected {
    background-color: rgb(45, 45, 45);
}

.sidebarrow.darkmode:hover {
    background-color: rgb(45, 45, 45);
}

.sidebarrow.sidebarrow_clicked {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 3px;
}

.sidebarrow.sidebarrow_clicked > .sidebarrow_icon {
    margin-top: 30px;
}

.sidebarrow.sidebarrow_clicked > h2 {
    margin-top: 2px;
    display: flex;
    align-self: center;
    font-size: 10px;
}
.sidebarrow_text {
    flex: 1;
    font-size: 12px;
    margin-left: 20px;
    font-weight: 500;
}

.sidebarrow_icon {
    color: #606060;
    font-size: large !important;
}

.sidebarrow:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.sidebarrow:hover > .sidebarrow_text {
    font-weight: bold;
}

.sidebarrow:hover > .sidebarrow_icon {
    color: red;
}

.sidebarrow.selected {
    background-color: lightgray;
}

.sidebarrow.selected > .sidebarrow_text {
    font-weight: bold;
}

.sidebarrow.selected > .sidebarrow_icon {
    color: red;
}